.message {
    &__block {
        display: block;
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &__body{
        padding: 10px;
        background-color: #77b;
        border-radius: 10px;
        clear:both;
        float: left;
        max-width: 60%;
        // margin-top: 5px;
        // margin-bottom: 5px;
    }
    &__text {
        margin:0;
        color: #fff;
    }
    &--me {
        .message {
            &__body {
                background-color: #b77;
                float: right;
            }
        }
    }
}
.typing {
    width: 25px;
}
.chat-window {
    height: 400px;
    overflow: auto;
}

@media screen and (min-width: 760px) {
    .message {
        &__body {
            max-width: 40%;
        }
    }
}