<!DOCTYPE html>
<html ng-app="ChatStory">

<head>
    <meta charset="utf-8">
    <title>Chat Story</title>
    <link href="css/main.css" rel="stylesheet">
    <!--Bower -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <!--<script type="text/javascript" src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>-->
    <!--Module -->
    <script type="text/javascript" src="js/app.js"></script>
    <!--Controllers -->

    <!--Directives-->

    <!--Filters-->

    <!--Services-->

    <!---->
    <!-- URL for locally-->
    <base href="/">
</head>

<body ng-controller="Chat">

    <div class="container">

        <div class="header-bar">
            {{interlocutor.name}}
        </div>
        <div class="chat-window">

            <div class="message bubble" ng-repeat="message in chat" ng-class="{'message--me': message.author === 'me'}">
                <p class="bubble__text">
                    {{message.message}}
                </p>
                <!--<div class="bubble-hook"></div>-->
            </div>

            <div class="bubble typing" ng-show="typing.on">
                <p class="bubble__text" ng-class="{'empty': typing.dots.length < 1}">
                    {{typing.dots}}
                </p>
            </div>
        </div>
        <!--<div class="message-select__container" ng-show="choose">
            <button class="button message-select__button" type="button" ng-repeat="c in choice" ng-click="beginThread(c)">{{c.messages[0].message}}</button>
        </div>-->

        <div class="message-select__container" ng-show="choose">
            <div class="bubble bubble--me message-select__button" ng-repeat="c in choice" ng-click="beginThread(c)">
                <p class="bubble__text">
                    {{c.messages[0].message}}
                </p>
            </div>

        </div>

</body>

</html>